<div class="container">

<div class="page-layout">
  <%= link_to 'Back to cocktails list', cocktails_path, class:"btn-ghost" %>


      <h1 class="show-title text-centered">The <%= @cocktail.name %></h1>
      <p class="text-centered">by Leni's Cocktails</p>

      <div class="cocktail-details">

        <div class="card-category" style="background-image: url(<%= cl_image_path @cocktail.photo %>)">
        </div>

        <div class="">
          <h3>Instructions</h3>
          <p>blabla</p>
        </div>

        <div class="">
        <h3>Ingredients list</h3>
          <ul class="list-unstyled">
            <% @cocktail.doses.each do |dose| %>
            <li> <%= dose.ingredient.name  %> - <%= dose.description %> <%= link_to 'Delete', dose_path(dose),
                method: 'delete',
                data: { confirm: "Are you sure?" } %>
            </li>
            <% end %>
          </ul>
        </div>

      </div>


    <div class="form-dose">
      <%= render 'shared/form_for_dose' %>
    </div>
  </div>

</div>



