<div class="container">

<div class="page-layout">
  <%= link_to 'Back to cocktails list', cocktails_path, class:"btn-ghost" %>


      <h1 class="show-title text-centered">The <%= @cocktail.name %></h1>
      <p class="text-centered">by Leni's Cocktails</p>

      <div class="cocktail-details">



          <div class="card-category" style="background-image: url(<%= @cocktail.photo.file.nil? ? 'http://res.cloudinary.com/dovv283mu/image/upload/v1566050381/cocktail_default_fik3sg.jpg' : @cocktail.photo %>)">
          </div>

        <div class="">
          <h3>Ingredients</h3>
          <% if @cocktail.ingredients == [] %>
          <p>No ingredients are listed yet... Start adding them !</p>

          <ul class="list-unstyled">
            <% @cocktail.doses.each do |dose| %>
            <li> <%= dose.ingredient.name  %> - <%= dose.description %> <%= link_to 'Delete', dose_path(dose),
                method: 'delete',
                data: { confirm: "Are you sure?" } %>
            </li>
            <% end %>
          </ul>
          <% end %>
        </div>

        <div class="">
          <h3>Instructions</h3>
          <% if @cocktail.instructions == "" %>
            <p>No intructions yet... Would you do us the honnor ?</p>
            <% else %>
            <p><%= @cocktail.instructions %></p>
          <% end %>
        </div>


      </div>


    <div class="form-dose">
      <%= render 'shared/form_for_dose' %>
    </div>


  </div>

</div>




